/*
Theme Name: Dimas Themes
Author: Dimas Mahendra Kusuma
Description: Bootstrap Blog template converted to WordPress
Version: 0.0.1
*/

.blog-footer li {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500; 
}
.blog-footer li a {
    color: #428bca;
}